<article class="language">
    <div class="title">
        {{language}}
    </div>
    <div class="meta">
        <a href="/languages/language/{{id}}" class="a-second">{{language}}</a>
    </div>
</article>