<div class="languages">
    {{#each languages}}
    <article class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>
                <a class="pointer" style="color: white" href="/languages/{{id}}">{{language}}</a>
            </h2>
        </div>
    </article>
    {{/each}}
</div>