<section style="color:white">
    <h2 style="color:white">Create New Post</h2>

    <form class="new-post-form card-body">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <textarea class="form-textarea" type="text" id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" class="btn pointer">Create</button>
    </form>
</section>

<h2>
    <a style="color:white" href='/dashboard/reviews'>Your Mentor Reviews</a>
</h2>

{{#if posts.length}}
<section style="color:white">
    <h2 style="color:white">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a style="color:white" href="/dashboard/edit/post/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>