<ul class='language-list list-group'>
    {{#each languages as |language| }}

    <li class='list-item pointer' onclick='window.location.href="/languages/{{id}}"'>
    {{> language-info language }}
    </li>

    {{/each}}
</ul>