<form class="login-form card-body">
    <div>
        <label class="form-label" for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label class="form-label" for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button class="btn pointer" type="submit">Login</button>
    </div>
    <button id="signup-link" class="btn pointer" type="button" onclick="window.location.href='/signup'">Signup</button>
</form>

<script src="/javascript/login.js"></script>