<form class="login-form card-body">
    <div class="text-center" id="register">
        <h3 class="text-white">
            <i class="fas fa-user"></i> Login:</h3>
        <hr class="hr-light">
    </div>
    <div class="md-form">
        <i class="fas fa-user prefixactive"></i>
        <label class="form-label active text-white" for="username-login">Username:</label>
        <input type="text" id="username-login" class="form-control"/>
    </div>
    <div class="md-form">
        <i class="fas fa-user prefixactive"></i>
        <label class="form-label active text-white" for="password-login">Password:</label>
        <input type="password" id="password-login" class="form-control"/>
    </div>
    <div class="text-center mt-4">
        <button class="btn pointer" type="submit">Login</button>
        <button id="signup-link" class="btn pointer" type="button" onclick="window.location.href='/signup'">Signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>