<h2 style="color: white">{{language.language}}</h2>

<h3 style="color: white">Mentors:</h3>
{{#each language.mentors}}
    <h4 style="color: white">
        <a style="color: white" href="/api/mentors/{{id}}">{{first_name}} {{last_name}}</a>
    </h4>
{{/each}}